<td>
  <label>Can you attend?
    <select class="custom-select" name='vote-new'>
      <option value='true'>Yes</option>
      <option value='false'>No</option>
      <option value='null' selected>-</option>
    </select>
  </label>
</td>
