<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event: ----id----</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/tableAddParticipant.js"></script>
</head>

<body class="container">
  <%- include('partials/_header') %>
  <header>
    <h1>This is event <%= event %></h1>
  </header>
  <main>
    <section>
      <div class="card text-center">
        <div class="card-header">
          Event: id / url
        </div>
        <div class="card-body">
          <h5 class="card-title">Event Name</h5>
          <p class="card-text">Event Description</p>
          <a href="#" class="btn btn-primary">change this to url link copy</a>
        </div>
        <div class="card-footer text-muted">
          footer some agregate data - total attendees / days till event
        </div>
      </div>
    </section>
    <section>
      <p>make voting here based on event dates</p>
      <table id="eventTimesTable" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Day - Start - End</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Participant Name</th>
            <td>Yes/No</td>
          </tr>
        </tbody>
      </table>
      <button id="eventAddParticipant">+ Add Participant</button>
    </section>
  </main>
</body>

</html>
