// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
  .times-form-section {
    .table {
      width: auto;

      th {
        vertical-align: middle;
        text-align: center;
      }

      .event-time-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

